:root {
  --brand-color: #4d5ae5;
  --main-color: #434455;
  --hover-color: #404bbf;
  --headings-color: #2e2f42;
  --background-color: #ffffff;
  --cloud-color: #f4f4fd;
  --helper-text: #8e8f99;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0%;
  margin-bottom: 0%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  display: block;
}
.list {
  list-style: none;
  margin-top: 0%;
  margin-bottom: 0;
  padding-left: 0%;
}

.container {
  /* width: 100%; */
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----header----------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  padding: 24px 16px;
}
.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.mob-menu-open {
  border: none;
  background-color: transparent;
}
.mob-menu-icon {
  stroke: #2e2f42;
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px 24px 40px 24px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu.is-open {
  transform: translateX(0);
}

.mob-menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 32px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #2e2f42;
  padding: 0;
  line-height: 0;
}
.mob-close-icon {
  fill: #2e2f42;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link:focus,
.header-menu-link:active {
  color: #404bbf;
}
.mob-phone-item {
}
.mob-phone-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.mob-address-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 48px;
}
.mob-address {
  /* color: #434455;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 48px; */
}

.mob-social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 26px;
}
.mob-social-icon {
  width: 40px;
  height: 40px;
}
.mob-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icon-svg {
  fill: var(--cloud-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: flex;
  margin-right: 76px;
}

.span-header {
  color: var(--headings-color);
}
.header-menu {
  display: none;
}
.adress {
  display: none;
}
/*---------hero--------*/

.hero {
  max-width: 1440px;
  background-color: #2e2f42;
  padding: 120px 0;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob2x.jpg);
  }
}
.hero-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  /* font-size: 56px; */
  /* line-height: 1.07; */
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  /* margin-bottom: 48px; */
  max-width: 496px;
  text-transform: capitalize;
}
.hero-button {
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/*---------descrip section------*/
.descrip {
  background-color: #ffffff;
  /* padding: 120px 0; */
  padding: 96px 0;
}
.descrip-icon-background {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 4px;
}
.descrip-icon {
  display: none;
  color: currentColor;
}
.descrip-list-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  max-width: 428px;
}
.descrip-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* gap: 24px; */
  gap: 72px;
}
.descrip-list-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--headings-color);
  margin-bottom: 8px;
  text-align: center;
}
.descrip-list-descrip {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*-------main activity section------*/
.main-activity {
  display: none;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
/*-----team-------*/

.team {
  background-color: #f4f4fd;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.section-title {
  margin-bottom: 72px;
}
.team-item {
  width: 100%;
  max-width: 264px;
  /* width: calc((100% - 72px) / 4); */
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.team-photo {
  width: 100%;
}
.card {
  padding: 32px 0;
}
.team-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.team-item-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-social-icon {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.team-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}
.social-icon-svg {
  fill: #f4f4fd;
}
/* ---custumers--- */

.customers {
  padding: 96px 0;
  /* padding-top: 120px;
  padding-bottom: 120px; */
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* gap: 24px; */
  justify-content: center;
  align-items: center;
  row-gap: 72px;
}
.customer-list-item {
  width: 100%;
  width: calc((100% - 16px) / 2);
  /* width: calc((100% - 120px) / 6); */
  height: 88px;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--helper-text);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: #404bbf;
  border-color: #404bbf;
}
.customer-icon {
  fill: currentColor;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*------footer-------*/

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-txt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  /* justify-content: space-between; */
  /* align-items: baseline; */
}
.footer-logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 120px; */
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
}
.span-footer {
  color: #f4f4fd;
}
.footer-txt {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* margin-right: 80px; */
}

.footer-social-icon {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-icon-svg {
  fill: var(--cloud-color);
}
.footer-subscribe-container {
  width: 100%;
}
.footer-input-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-form {
  display: block;
  flex-direction: column;
  align-items: center;
  /* display: flex; */
  /* gap: 24px; */
}
.footer-input {
  width: 100%;
  /* width: 264px; */
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  outline: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 520ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}
.footer-input:focus {
  border-color: #4d5ae5;
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-button {
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 24px;
  cursor: pointer;
  transition: background-color 520ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}
.footer-send {
  fill: #ffffff;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 16px;
}
/*------portfolio-------*/

.main-portfolio {
  padding-top: 48px;
  /* padding-top: 96px; */
  padding-bottom: 120px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 48px;
  /* margin-bottom: 72px; */
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
  transition-property: color, background-color, border;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  display: block;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* flex-direction: row; */
  justify-content: center;
  padding: 0px;
  gap: 24px;
  row-gap: 48px;
}
.product-item {
  width: 100%;
  /* width: calc((100% - 48px) / 3); */
  background-color: #ffffff;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product-image {
  width: 100%;
}
.product-card {
  /* width: calc(100% - 30px); */
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.product-item-link {
  width: 100%;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-item-link:hover,
.product-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.product-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.product-item-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.product-overlay {
  position: relative;
  overflow: hidden;
}

.product-overlay-txt {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transition-property: transform;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-item-link:hover .product-overlay-txt,
.product-item-link:focus .product-overlay-txt {
  transform: translateY(0%);
}

/* -------modal------- */

.backdrop {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 324px;
  /* width: calc(100% - 30px); */
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #e7e9fc;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  color: #ffffff;
}
.modal-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
}
.modal-field {
  margin-bottom: 8px;
}

.input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.input-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-txt {
  margin-bottom: 16px;
}
.modal-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.modal-comment:focus {
  border-color: #4d5ae5;
}
.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-check-container {
  margin-bottom: 24px;
}
.check-txt {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  margin-bottom: 24px;
}

.check-txt span {
  width: 16px;
  height: 16px;
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-txt a {
  color: #4d5ae5;
  text-decoration: underline;
}
.input-check:checked + .check-txt span {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
  border: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-send {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  display: block;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send:hover,
.modal-send:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    padding: 0;
  }
  .header-menu {
    display: flex;
    gap: 40px;
  }
  .mob-menu-open {
    display: none;
  }
  .header-menu-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus,
  .header-menu-link:active {
    color: #404bbf;
  }

  .header-address-link:hover,
  .header-address-link:active,
  .header-address-link:focus {
    color: #404bbf;
  }
  .current {
    color: #404bbf;
  }

  .current::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
  }
  .adress {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: auto;
    gap: 8px;
  }

  .header-address-item {
    font-size: 12px;
  }

  .header-address-link {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-address {
    font-style: normal;
  }
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tab2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-transform: none;
  }
  .descrip {
    padding: 96px 0;
  }
  .descrip-list {
    justify-content: center;
    gap: 24px;
    row-gap: 72px;
  }
  .descrip-list-item {
    flex-basis: calc((100% - 72px) / 2);
  }
  .descrip-list-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: start;
  }

  .team-list {
    align-items: center;
    justify-content: center;
    row-gap: 64px;
  }
  .team-item {
    width: calc((100% - 72px) / 2);
    gap: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .customer-list-box {
    max-width: 584px;
    margin-left: auto;
    margin-right: auto;
  }
  .customer-list {
    gap: 24px;
    row-gap: 72px;
  }
  .customer-list-item {
    width: calc((100% - 48px) / 3);
  }
  .footer-subscribe-container {
    width: 496px;
  }
  .footer-txt-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 24px;
    row-gap: 72px;
    max-width: 584px;
  }
  .footer-logo-box {
    display: flex;
    align-items: start;
  }
  .footer-logo {
    margin-right: unset;
    margin-left: unset;
  }
  .footer-input-name {
    text-align: unset;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    align-items: unset;
  }
  .footer-input {
    width: 264px;
  }
  .footer-media-title {
    text-align: start;
  }
  .filters {
    justify-content: center;
  }
  .product {
    flex-direction: row;
  }
  .product-item {
    width: calc((100% - 96px) / 2);
  }
  .modal {
    width: 408px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mob-menu-open {
    display: none;
  }
  .adress {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    margin-left: auto;
    gap: 40px;
  }
  .header-address-link {
    font-size: 16px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .descrip {
    padding: 120px 0;
  }
  .descrip-list-item {
    width: calc((100% - 72px) / 4);
  }

  .descrip-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .descrip-list-descrip {
    font-weight: 400;
  }
  .descrip-icon-background {
    display: flex;
  }
  .descrip-icon {
    display: block;
  }
  .descrip-list-title {
    font-weight: 500;
    font-size: 20px;
  }
  .main-activity {
    display: block;
    background-color: #ffffff;
    padding-bottom: 120px;
  }

  .main-activity-list {
    display: flex;
    gap: 24px;
  }
  .main-activity-item {
    width: calc((100% - 48px) / 3);
  }

  .team {
    padding: 120px 0;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .customer-list-box {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }

  .customer-list-item {
    width: calc((100% - 120px) / 6);
  }

  .footer-txt-container {
    flex-wrap: unset;
    justify-content: space-between;
  }
  .product-item {
    width: calc((100% - 48px) / 3);
  }
}
